@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.placement_container{
    max-width: 1200px;
    margin: auto;
}
.placement_container .place_text{
    font-size: 22px;
}

.placement_container .place_heading{
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
}
.placement_container .place_heading::before{
    background-color:brown ;
    content: "";
    position: absolute;
    left: -15px;
    width: 5px;
    height: 40px;
}

.placement_container .placement_stat .one h2{
    color: brown;
    margin-top: 30px;
    margin-left: 100px;
    position: relative;
    font-size: 25px;
    font-weight: 600;
}

.placement_container .placement_stat .one h2::before{
    content: "";
    background: brown;
    position: absolute;
    width: 100px;
    height: 1px;
    top: 16px;
    left: -106px;

}

.placement_container .placement_stat .one .details{
    margin-top: 20px;
    display: flex;
}

.placement_container .placement_stat .one .details .color{
    margin-top: 20px;
    border-bottom: 1px solid brown;
}

.placement_container .placement_stat .one .details .color h3{
    color: brown;
    font-size: 22px;
}

.placement_container .placement_stat .one .details .color ul li{
    list-style: none;
    margin-top: 8px;
    font-size: 18px;
}

.placement_container .placement_stat .one .details .text{
    /* flex: 1; */
}

.placement_container .placement_stat .one .details .image{
    display: flex;
    margin-left: 10px;
}

.placement_container .placement_stat .one .details .img{
    width: 270px;
    height: 300px;
    margin-left: 10px;
}

.placement_container .minor{
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    color: brown;
}

.placement_container .placement_stat .one .details p strong{
    color: brown;
}